		<header class="secondary">
				<div class="background-image-holder parallax-background overlay">
					<%= image_tag('banner-web.jpg', class: 'background-image', alt:'Background') %>
				</div>

				
			</header>

			<section class="about">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="thumbnail with-info">
							<%= image_tag('nosotros.jpg', alt:'About') %>
								
							</div>
						</div>
					</div>
					<div class="row">	
						<div class="col-md-4">
							<h3>Acerca del CEC</h3>
							
						</div>
						<div class="col-md-8">
							<p><strong><h3>Misión</h3></strong></p>
								<p>El CEC tiene la misión de ofrecer programas de 		capacitación, actualización y perfeccionamiento a profesionales y organizaciones del sector productivo, público y privado del Ecuador, asegurándoles excelencia en el proceso enseñanza – aprendizaje, investigación, cultura, valores éticos y desarrollo del espíritu emprendedor.
								</p>

							<p><strong><h3>Visión</h3></strong></p>
								<p>Ser líderes en formación, capacitación y asesoría a nivel nacional.
								</p>

							<p><strong><h3>Políticas de Calidad</h3></strong></p>
								<p>1. Implantar y mantener un Sistema de Gestión de la Calidad adecuado a la ESPOL, que permita satisfacer las necesidades y expectativas de los clientes, basándose en los requisitos de la norma ISO 9001:2008.</p>
								<p>2. Llevar a cabo nuestras actividades de docencia, y vinculaciòn con la sociedad, garantizando el cumplimiento de las normas legales y reglamentarias, aplicables a los productos o servicios que ofrece la ESPOL.</p>
								<p>3. Promover la mejora continua como un principio fundamental aplicable a todos los procesos de la ESPOL.</p>
								<p>4. Generar un compromiso dinámico del talento humano de la institución, que permita mantener activo el Sistema de Gestión de Calidad.</p>
								<p>5. Fundamentar el Sistema de Gestión de la Calidad en la prevención de no conformidades como un medio que proporcione a los clientes, productos y servicios de calidad; por consiguiente, el personal de la ESPOL, tiene la responsabilidad de informar a la Dirección, a través de los canales establecidos, cualquier situación, real o potencial, que afecte al Sistema.<p>
								
							<p><strong><h3>Valores</h3></strong></p>
							<p>El CEC basa sus acciones en los siguientes valores:</p>
								<p><strong>Compromiso con la excelencia académica:</strong>> La excelencia académica es una meta superior, permanente y cotidiana. Es la condición básica para que las universidades y escuelas politécnicas cumplan la finalidad que la Constitución determina.</p>
								<p><strong>Mística de trabajo:</strong>Trabajar y cumplir para que la ESPOL amplíe su prestigio.</p>
								<p><strong>Responsabilidad:</strong>Cumplir con calidad y a tiempo todas las tareas institucionales. Cumplir todos y asumir las consecuencias de las acciones y omisiones.</p>
								<p><strong>Honestidad:</strong>Manejar los asuntos personales e institucionales con integridad y probidad.</p>
								<p><strong>Imparcialidad:</strong>Independencia en las decisiones institucionales. Las relaciones con nuestros aliados estratégicos son entre pares y de cooperación recíproca, y tienen como finalidad la búsqueda de la verdad y el desarrollo integral del Ecuador.</p>		
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>